@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.carousel__pagination-button {
	height: 15px !important;
	width: 15px !important;
	border-radius: 50% !important;
	background: #e5e5e5 !important;
}
.carousel__pagination-button.carousel__pagination-button--active {
	background: #e1b065 !important;
}

.carousel__pagination {
	margin-top: 58px !important;
	padding-left: 15px !important;
}

.cls-1,
.cls-3 {
	fill: #fff;
}
.cls-1 {
	opacity: 0;
}
.cls-2 {
	fill: #05273a;
}
.big-logo {
	width: 200px !important;
	height: 450px !important;
}
